<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <!-- fuq prettier -->
        <%- include('./partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("./partials/nav") %></header>
        <main class="home">
            <h1 class="pageName"><%= page.name %></h1>
            <% if (project && (project.visible || admin)) { %>
            <div>
                <h3>featured post</h3>
                <article
                    class="<%= project.visible ? 'visible' : 'invisible' %>"
                >
                    <div>
                        <a
                            href="<%= project.liveLink %> "
                            target="_blank"
                            rel="noopener noreferrer"
                            aria-label="live link to <%= project.title %>"
                        >
                            <img
                                class="featured"
                                src="<%= project.thumbnail %>"
                                alt="thumbnail"
                        /></a>
                    </div>
                    <div>
                        <a
                            href="/projects/<%= project.slug %>"
                            aria-label="read more about <%= project.title %>"
                        >
                            <%= project.title %>
                        </a>
                    </div>
                </article>
            </div>
            <% } %> <% if (blog && (blog.visible || admin)) { %>
            <div>
                <h3>featured blog</h3>
                <article class="<%= blog.visible ? 'visible' : 'invisible' %>">
                    <div>
                        <img
                            class="featured"
                            src="<%= blog.thumbnail %>"
                            alt="thumbnail"
                        />
                    </div>
                    <div>
                        <a
                            href="/blog/<%= blog.slug %>"
                            aria-label="read more about <%= blog.title %>"
                        >
                            <%= blog.title %>
                        </a>
                    </div>
                </article>
            </div>
            <% } %>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
