<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
        <!-- fuq prettier -->
        <%- include('./partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("./partials/nav") %></header>
        <main class="home">
            <section class="home__author-container">
                <h1 class="pageName">Ian Rackson</h1>
                <h2>Full-Stack Web Dev</h2>
            </section>

            <section class="home__featured-container">
                <% if (project && (project.visible || admin)) { %>
                <div>
                    <h3>featured project</h3>
                    <article
                        class="<%= project.visible ? 'visible' : 'invisible' %>"
                    >
                        <div>
                            <a
                                href="<%= project.liveLink %> "
                                target="_blank"
                                rel="noopener noreferrer"
                                aria-label="live link to <%= project.title %>"
                            >
                                <img
                                    class="featured"
                                    src="<%= project.thumbnail %>"
                                    alt="thumbnail"
                            /></a>
                        </div>
                        <div>
                            <a
                                href="/projects/<%= project.slug %>"
                                aria-label="read more about <%= project.title %>"
                            >
                                <%= project.title %>
                            </a>
                        </div>
                    </article>
                </div>

                <% } %>
                <div class="home__contact-container">
                    <h4>Phone: 917-684-8443</h4>
                    <h4>Email: ian@rackson.com</h4>
                </div>
                <% if (blog && (blog.visible || admin)) { %>
                <div>
                    <h3>featured blog</h3>
                    <article
                        class="<%= blog.visible ? 'visible' : 'invisible' %>"
                    >
                        <div>
                            <img
                                class="featured"
                                src="<%= blog.thumbnail %>"
                                alt="thumbnail"
                            />
                        </div>
                        <div>
                            <a
                                href="/blog/<%= blog.slug %>"
                                aria-label="read more about <%= blog.title %>"
                            >
                                <%= blog.title %>
                            </a>
                        </div>
                    </article>
                </div>
                <% } %>
            </section>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
