<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %> <%-
        include('../partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("../partials/nav") %></header>
        <main class="webmaster-settings">
            <h1 class="pageName"><%= page.name %> settings</h1>
            <form
                action="/<%= page.dir %>?_method=PUT"
                method="POST"
                autocomplete="off"
            >
                <ol>
                    <% for( let i = 0; i < editableNavs.length; i++ ) { %>
                    <li>
                        <fieldset>
                            <legend><%= editableNavs[i].dir %></legend>
                            <ul>
                                <li>
                                    <label for="name">name</label>
                                    <input
                                        type="text"
                                        name="name"
                                        class="input"
                                        placeholder="<%= editableNavs[i].name %>"
                                    />
                                </li>
                                <li>
                                    <label for="<%= editableNavs[i].dir %>"
                                        >visible</label
                                    >
                                    <% if (editableNavs[i].visible) { %>
                                    <input
                                        type="checkbox"
                                        checked
                                        name="<%= editableNavs[i].dir %>"
                                    />
                                    <% } else { %>
                                    <input
                                        type="checkbox"
                                        name="<%= editableNavs[i].dir %>"
                                    />
                                    <% } %>
                                </li>
                                <li>
                                    <label for="position">position</label>
                                    <input
                                        type="number"
                                        name="position"
                                        min="1"
                                        max="98"
                                        step="0.5"
                                        value="<%= editableNavs[i].position %>"
                                    />
                                </li>
                            </ul>
                        </fieldset>
                    </li>
                    <% } %>
                </ol>
                <button class="button" type="submit">MIND FUQ</button>
            </form>

            <form
                style="display: none"
                action="/<%= page.dir %>/create"
                method="POST"
                autocomplete="off"
            >
                <ul>
                    <li>
                        <label for="dir">stable directory route</label>
                        <input type="text" name="dir" class="input" required />
                    </li>
                    <li>
                        <label for="name">display name</label>
                        <input type="text" name="name" class="input" required />
                    </li>
                    <li>
                        <label for="visible">visible</label>
                        <input type="checkbox" name="visible" />
                    </li>
                    <li>
                        <label for="position">position</label>
                        <input
                            type="number"
                            name="position"
                            min="1"
                            max="98"
                            step="1"
                            required
                        />
                    </li>
                </ul>
                <button class="button" type="submit">CREATE PAGE</button>
            </form>
            <form
                action="/<%= page.dir %>/seed"
                method="POST"
                autocomplete="off"
            >
                <button class="button" type="submit">Reseed Database</button>
            </form>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
