<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %> <%-
        include('../partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("../partials/nav") %></header>
        <main class="projects-update">
            <h1 class="pageName">
                Update <%= page.name.substring(0, page.name.length - 1) %>: "<%=
                project.title %>"
            </h1>
            <form
                action="/<%= page.dir %>/<%= project.slug %>?_method=PUT"
                method="POST"
                autocomplete="off"
            >
                <ul>
                    <li>
                        <label for="liveLink">live url:</label>
                        <input
                            type="text"
                            name="liveLink"
                            class="input input--long"
                            placeholder="<%= project.liveLink %>"
                        />
                    </li>
                    <li>
                        <label for="codeLink">repo url:</label>
                        <input
                            type="text"
                            name="codeLink"
                            class="input input--long"
                            placeholder="<%= project.codeLink %>"
                        />
                    </li>
                    <li>
                        <label for="description">description:</label>
                        <input
                            type="text"
                            name="description"
                            class="input input--long"
                            placeholder="<%= project.description %>"
                        />
                    </li>
                    <li>
                        <fieldset>
                            <legend>Tags</legend>
                            <ul>
                                <% for (let i = 0; i < existingTags.length; i++
                                ) { %>
                                <li>
                                    <label
                                        for="<%= repeatPrefix + existingTags[i] %>"
                                        ><%= existingTags[i] %></label
                                    >

                                    <% if
                                    (project.tags.includes(existingTags[i])) {
                                    %>
                                    <input
                                        type="checkbox"
                                        checked
                                        name="repeat=<%= existingTags[i] %>"
                                    />
                                    <% } else { %>

                                    <input
                                        type="checkbox"
                                        name="repeat=<%= existingTags[i] %>"
                                    />
                                    <% } %>
                                </li>
                                <% } %>
                                <li>
                                    <label for="tags">new tags:</label>
                                    <input
                                        type="text"
                                        name="tags"
                                        class="input"
                                    />
                                </li>
                            </ul>
                        </fieldset>
                    </li>
                    <li>
                        <label for="markdown">markdown:</label>
                        <textarea
                            rows="8"
                            cols="50"
                            name="markdown"
                            placeholder="<%= project.markdown %>"
                        ></textarea>
                    </li>
                    <li>
                        <label for="thumbnail">thumbnail url:</label>
                        <input
                            type="text"
                            name="thumbnail"
                            class="input input--long"
                            placeholder="<%= project.thumbnail %>"
                        />
                    </li>
                    <li>
                        <label for="visible">visible</label>
                        <% if (project.visible) { %>
                        <input type="checkbox" checked name="visible" />
                        <% } else { %>
                        <input type="checkbox" name="visible" />
                        <% }%>
                    </li>
                    <li>
                        <label for="featured">featured</label>

                        <% if (project.featured) { %>
                        <input type="checkbox" checked name="featured" />
                        <% } else { %>
                        <input type="checkbox" name="featured" />
                        <% }%>
                    </li>
                </ul>
                <button class="button" type="submit">UPDATE PROJECT</button>
            </form>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
