<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %> <%-
        include('../partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("../partials/nav") %></header>
        <main class="home">
            <h1 class="pageName">create new <%= page.name %></h1>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
