<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs') %> <%-
        include('../partials/title.ejs') %>
    </head>
    <body>
        <header><%- include("../partials/nav") %></header>
        <main class="blog-index">
            <h1 class="pageName"><%= page.name %></h1>
            <% if (admin) { %>
            <a href="/<%= page.dir %>/create">Create New <%= page.name %> </a>
            <% } %>
            <section id="blogFiltersContainer">
                <% for( let i = 0; i < filters.length; i++ ) { %>
                <button><%= filters[i] %></button>
                <% } %> <% if (blogs.length > 0) { %>
                <button>other</button>
                <% } %>
            </section>
            <section>
                <% for (blog of blogs) { %> <% if (admin) { %>
                <form
                    action="/<%= page.dir %>/<%= blog.slug %>?_method=DELETE"
                    method="POST"
                >
                    <button type="submit">Delete</button>
                </form>
                <% } %>

                <article class="<%= blog.visible ? 'visible' : 'invisible' %>">
                    <div>
                        <img
                            class="thumbnail"
                            src="<%= blog.thumbnail %>"
                            alt="thumbnail"
                        />
                    </div>
                    <div>
                        <a
                            href="/<%= page.dir %>/<%= blog.slug %>"
                            aria-label="read more about <%= blog.title %>"
                        >
                            <%= blog.title %>
                        </a>
                        <h4><%= blog.description %></h4>
                    </div>
                    <div>
                        <p><%= blog.displayUpdated %></p>
                    </div>
                </article>
                <% } %>
            </section>
        </main>

        <%- include("../partials/footer") %>
    </body>
</html>
